* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

:global(#root) {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}
