<!DOCTYPE html>
<html lang="cmn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_eomn2rghzbfswcdi.css">
</head>
<body>
  <div id="app"></div>
</body>
</html>
