/* 容器 */
.card {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 18px;
  color: #fff;
}
/* 头像wrap */
.wrap {
  height: 40px;
  margin-right: 10px;
}
/* 头像 */
.portrait {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
/* 用户名 */
.user-name {
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}
/* 选项按钮 */
.config {
  width: 30px;
  height: 30px;
  background: url(./panel.png) no-repeat center center;
}
