/* 容器 */
.card {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 18px;
  color: #fff;
}
/* 头像 */
.portrait {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: fill;
  overflow: hidden;
  background-color: #369;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
}
/* 用户名 */
.user-name {
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}
/* 选项按钮 */
.config {
  width: 30px;
  height: 30px;
}
/* icon */
.icon {
  font-size: 30px;
  line-height: 30px;
  color: #707070;
}
/* 遮罩 */
.mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
/* 过渡 */
.enter {
  transform: scale(0.6);
  opacity: 0.7;
}
.enterActive {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s linear;
}
.leave {
  transform: scale(1);
  opacity: 1;
}
.leaveActive {
  transform: scale(0.6);
  opacity: 0.3;
  transition: all 0.2s linear;
}
