/* 发送消息 */
.wrap {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-top: 1px solid #ccc;
}
/* 输入框 */
.input {
  flex-grow: 1;
  margin-left: 12px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border: 1px groove rgb(238,238,238);
}
/* 按钮 */
.switch-expressions,
.send-text,
.send-img {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
/* 发送表情 */
.switch-expressions {
  background-image: url(./imgs/expression.png);
  margin-left: 5px;
}
/* 发送文本 */
.send-text {
  width: 44px;
  padding: 0 5px;
  background-color: #6c0;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}
/* 发送图片 */
.send-img {
  background-image: url(./imgs/file.png);
  margin-left: 5px;
  margin-right: 10px;
}
