.wrap {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid #ccc;
}
/* 输入框 */
.input {
  flex-grow: 1;
  margin-left: 12px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border: 1px groove rgb(238,238,238);
}
/* 按钮 */
.switch-expressions,
.send-text,
.send-img {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
}
/* 发送表情 */
.switch-expressions {
  margin-left: 5px;
}
/* 发送文本 */
.send-text {
  width: 44px;
  padding: 0 5px;
  background-color: #6c0;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}
/* 发送图片 */
.send-img {
  margin-left: 5px;
  margin-right: 10px;
}
/* 字体图标 */
.icon {
  font-size: 32px;
  line-height: 32px;
  color: #707070;
}
/* 表情栏 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
.expressions {
  position: absolute;
  z-index: 100;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px;
  background-color: white;
  box-shadow: 0px 0px 10px 0 #777;
  transition: opacity 0.25s 0.25s, transform 0.5s;
}
.expressions i {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-image: url('../../assets/expressions.png');
  cursor: pointer;
}
.show {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.25s linear, transform 0.5s -0.25s linear;
}
.hidden {
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.25s linear, transform 0.5s linear;
}
