.wrap {
  display: flex;
  box-sizing: border-box;
  height: 64px;
  padding: 11px 18px 12px;
  border-top: 1px solid #292c33;
  cursor: pointer;
}
.group-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
  text-align: center;
  line-height: 40px;
}
.group-name {
  flex-grow: 1;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}
