.wrap {
  position: relative;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 10px;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
